

.profileContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin: 2rem 5rem;
  padding: 2rem 5rem;
  /* margin-bottom: 10rem; */
  background-color: pink;

}
.profile{
  background-color: aqua;
  font-size: xx-large;
  flex-wrap: wrap;

  min-width: 35%;
}
span{
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.description{
  background-color: rgb(236, 255, 127);

}
.profileContainer img {
  display: flex;
  justify-content: center;
  align-self: center;
    width: 250px;
    height: 250px;
    border-radius: 60%;
        }
