*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

}
header{
  margin: 2rem 0;

}
section{
  background-color: aqua;
  margin: 0rem 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

h2{
  display: flex;
  justify-content: center;
  margin: 3rem 10rem;
  background-color: red;
}

footer{
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-self: end;
  text-align: end;
  margin: 0 10rem;
  padding: 2rem;
}
body {
  background-image: url('./pat1.png');
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed; 

  /* min-height: 100vh; */
  /* width: 100%; */
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 4, 14, 0.308);
  z-index: -1;
  flex-wrap: wrap;

}

