*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

}
header{
  margin-top: 5rem;
  /* background-color: aqua; */
}
section{
  max-height: 100vh;
  margin: 0rem 10rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 60vh;
  /* background-color: aqua; */
}

h2{
  margin: 2rem 0rem;  
  color: aliceblue;
  font-size: 3vw;
}
h3{
  color: aliceblue;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 1rem 2rem;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
body {
  background-image: url('./pat1.png');
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed; 


}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 4, 14, 0.308);
  z-index: -1;
  flex-wrap: wrap;

}
p{
  color: aquamarine;
  font-size: 1vw;
}
 * {
  cursor: pointer !important;
}

* {
  -webkit-tap-highlight-color: transparent;
  transition-property: transparent;
  cursor: pointer !important;
}
